/* General stylization */

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  background: #CFDFE8;
  user-select: none;
}

h1 {
  font-size: 6em;
  font-weight: normal;
}

h2 {
  margin: 10px 0;
  font-size: 3em;
  font-weight: normal;
  text-transform: capitalize;
}

p {
  margin: 0;
  font-family: Open Sans;
  font-size: 1.25em;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #56576B;
}

a {
  text-decoration: none;
}

.hover:hover {
  cursor: pointer;
}

/* Header stylization */

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  color: #fff;
  text-transform: capitalize;
}

.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.top>*, .bottom>* {
  margin: 0 5%;
}

/* Upper subheader stylization */

.top {
  height: 5vh;
  background: #00367b;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
}

.top>* {
  width: 20%;
}

.top>.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top>.left>.location-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top>.left .location-pin {
  height: 30px;
  width: 30px;
  background: url(../img/location-pin-icon.png) no-repeat center/cover;
}

.top .header-link {
  color: #fff;
}

/* Lower subheader stylization */

.bottom {
  height: 8vh;
  background: rgba(1, 70, 150, 0.7);
  font-size: 2.25em;
}

.bottom .header-link {
  color: #E9EBED;
  font-weight: 600;
}

.bottom>.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom>.left>.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CFDFE8;
  font-weight: bold;
}

.bottom>.left .logo {
  height: 40px;
  width: 40px;
  margin: 4px;
  border-radius: 4px;
  background: #CFDFE8;
}

.bottom>.right {
  justify-content: space-between;
  width: 40%;
}

/* Footer stylization */

footer {
  display: flex;
  flex-flow: column;
  background: #56576B;
}

.upper-footer {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.item-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 300px;
}

.links {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: #E9EBED;
}

.subscribe {
  font-weight: bold;
}

.yellow {
  color: yellow;
}

.upper-footer ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.useful-links {
  display: flex;
  flex-flow: column;
  align-items: space-around;
  justify-content: center;
}

.footer-link {
  color: #BFBFCA;
  text-transform: capitalize;
}

.social-links img {
  height: 2em;
  width: 2em;
}

.social-links {
  width: 60%;
  flex-flow: row;
  justify-content: space-around;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #ADADAE;
  padding: 1em;
}