.contacts-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 50%;
  height: 600px;
  border: 0;
  margin: 48px 0;
}