/* Main stylization */

main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
}

section {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.section-heading {
  text-align: center;
}

/* Stage stylization */

.stage {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: url(../img/stage-img.jpg) no-repeat center/cover;
  color: #fff;
  text-transform: capitalize;
}

.overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

/* Benefits section stylization */

.benefits {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #00367B;
}

.benefit-title {
  font-size: 2.25em;
}

.benefits-list {
  display: flex;
  flex-flow: column;
  width: 50%;
  background: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.benefit {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
}

.benefit-text {
  align-self: stretch;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.benefit-image {
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 8px rgba(0, 54, 123, 0.5);
  border-radius: 150px;
}

.benefit-image.smart {
  background: url(../img/1-benefit-img.jpeg) no-repeat center/cover;
}

.benefit-image.cheap {
  background: url(../img/2-benefit-img.jpg) no-repeat center/cover;
}

.benefit-image.easy {
  background: url(../img/3-benefit-img.jpeg) no-repeat center/cover;
}